*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.training-section{
    width: 100%;
   
    background: url("../flexboxcard/grocery-image.png");
    background-size: cover;
    padding-bottom: 50px;
}
.card{
    text-align: center;
    padding: 25px 0px;
}
.container{
       
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1170px;
    margin: auto;
   
       
}
.training-item{
    flex-basis: 23%;
    margin: 10px 0px;
    text-align: center;
    padding: 20px 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 3px lightgray;
}
.training-item h3{
    padding: 10px 0px;
}
.training-item p {
    font-size: 13px;
    padding: 10px;
}
.training-item button{
    background-color: blue;
    padding: 10px;
    color:white ;
    margin: 10px 0px;
    border-radius: 10px;
    border: none;
}
.training-item:hover{
    background-color: rgb(39, 39, 209);

}
.training-item:hover h3,.training-item:hover p{
    color: white;
}
.training-item:hover button {
    background-color:white;
    color: blue;
}
@media only screen and (min-width:200px)and(max-width:767px){
    container{
        width: 100%;
        flex-direction: column;
    }
    .training-item{
        margin: 10px;
    }
}